absl-py
colored>=1.4.3
grpcio
gym
hdbscan
markdown
matplotlib
maturin>=1.0.0,<2.0.0
numpy>=1.21.0
optuna
pandas
protobuf
pyyaml
pytest
scikit-learn
setuptools
setuptools-rust
tensorboard
torch>=1.11.0
tqdm>=4.64.0
werkzeug
