gymnasium==1.2.0  # migrated from gym to gymnasium
hdbscan==0.8.40
matplotlib==3.10.3
numpy==2.3.2
optuna==4.4.0
pandas==2.3.1
pytest==8.4.1
pyyaml==6.0.2
scikit-learn==1.7.1
tensorboard==2.20.0
torch==2.7.1
tqdm==4.67.1
